/* -------------------
--------Font-------- */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Prompt', sans-serif;

}

/* ------------------
-------Nav bar------------ */

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;

}

nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.navigation-icon {
    display: flex;

}

.navigation-icon li {
    list-style: none;
    margin: 10px;

}

.navigation-icon li a {
    text-decoration: none;
    color: darkslategray;
    font-weight: 600;
    padding: 15px 10px;
}

.bannar-heading {
    font-size: 600px;
}

.journey-heading {
    font-size: 60px;
    color: indigo;
    padding-right: 60px;

}

.journey {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.influencer {
    margin-left: 60px;
    margin-right: 60px;
    padding-right: 80px;

}

.primary-buton {
    font-size: 20px;
    background-color: palevioletred;
    border-radius: 60deg;
    padding: 5px;
}

.e-commerce li {
    list-style: none;
}

.e-commerce li img {
    display: flex;

}