/* -------------------
--------Font-------- */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Prompt', sans-serif;
    background-color: #CFF9F9;

}

/* ------------------
-------Nav bar------------ */

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;

}

nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.navigation-icon {
    display: flex;

}

.navigation-icon li {
    list-style: none;
    margin: 10px;

}

.navigation-icon li a {
    text-decoration: none;
    color: darkslategray;
    font-weight: 600;
    padding: 15px 10px;
}

.banner-heading {
    font-size: 600px;
}

.journey-heading {
    font-size: 70px;
    color: indigo;
    padding-right: 60px;

}

.journey {
    padding: 60px 70px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.influencer {
    margin-left: 60px;
    margin-right: 60px;
    padding-right: 80px;

}

.start {
    padding: 30px 30px;
}

.preebook {
    text-decoration: none;
    /* text-align: auto; */
    /* width: 120px; */
    font-size: 20px;
    background-color: #e91e63;
    padding-right: 30px;
    padding-left: 10px;
    border-radius: 45px;
    /* word-spacing: 10px; */
}

.camera {
    padding-right: 40px;
    padding-bottom: 40px;
}


.e-commerce {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    border-style: ridge;
    border: #1c1d1c;
    padding-top: 30px;
    padding-bottom: 20px;

}

.continer {
    font-size: 30px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.product-collection {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    justify-content: center;
}

.collection {
    padding: 30px 10px;
    background-color: #DFF9F9;
    width: 350px;

}

.product-titel {
    font-size: 30px;

}

.product-rating {
    display: flex;
}

.filled {
    color: #F9EE3E;
    
}

.product-praice {
    font-size: 25px;
}

/* . collection img {
    text-align: center;
} */
.tripo-bannar {
    width: auto;
    padding-left: 15px;
    padding-bottom: 5px;
    border-radius: 7deg;

}

.featured {
    display: flex;
    justify-content: space-between;
}

.see-more {
    position: relative;
    float: right;
    margin-top: 80px;
    margin-bottom: 40px;
    padding-right: 80px;
    text-decoration: none;
    font-size: 30px;
}

.one-place {
    margin-top: 170px;
    padding-bottom: 80px;
    padding-left: 90px;
    padding-right: 20px;
}

.at-one {
    font-size: 60px;
}

.one-place p {
    margin-right: 80p;
}

.footer {
    background-color: #DFF9F9;
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
}

.footer-icon {
    font: weight 30px;
    word-spacing: 20px;
    box-shadow: round;
}

/* ______________________Media Queries__________________________________________ */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
    body {
        background-color: #8C928F;
    }

    .nav-container {
        flex-direction: column;
    }



    .biusnes-ions {
        display: none;
    }

    .product-collection {
        grid-template-columns: 1;

    }

    .see-more {
        display: none;
    }

    .one-place {
        display: none;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    ...
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    ...
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    ...
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    ...
}